* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #e50914;
  border-radius: 12px;
  transition: all 0.3s ease;
}
::-webkit-scrollbar-thumb:hover {
  background: #f50713;
}
body {
  font-family: "Arial", sans-serif;
  scroll-behavior: smooth;
  background: #000;
  color: #999;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

p {
  margin: 0.5rem 0;
  color: #fff;
}

img {
  width: 100%;
}
.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
.popcontentbx {
  position: relative;
  width: 700px;
  height: 500px;
  background: rgba(0, 0, 0, 0.959);
  border-radius: 10px;
  display: flex;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.popcontentbx .popcontent {
  position: relative;
  width: 100%;
  height: 100%;
  top: 20%;
  padding: 50px;
  justify-content: center;
  align-items: center;
}
.popcontentbx .popcontent h1 {
  color: #e50914;
  line-height: 1em;
  font-size: 4em;
}
.popcontentbx .popcontent h3 {
  color: #fff;
  font-size: 2em;
  line-height: 1em;
}
.close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background: url(images/close.png);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
  cursor: pointer;
  z-index: 10;
}
.showcase {
  width: 100%;
  height: 100vh;
  position: relative;
  background: url(images/banner.jpg) no-repeat center;
  background-size: cover;
}

.showcase::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.301);
  box-shadow: inset 120px 100px 250px #000000, inset -120px -100px 250px #000000;
}
.showcase-box {
  position: relative;
  padding: 50px 5%;
  margin-bottom: 0;
  background: 0 0;
  color: #fff;
  min-height: 100vh;
}
.showcase-top {
  position: relative;
  z-index: 2;
  height: 90px;
}

.showcase-top img {
  width: 134px;
  position: absolute;
  top: 50%;
  left: 10%;
  margin-left: 0;
}

.showcase-top a {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
}

.showcase-content {
  position: relative;
  z-index: 2;
  width: 65%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 75px 0;
}

.showcase-content h1 {
  font-weight: 700;
  font-size: 50px;
  line-height: 1.1;
  margin: 0 0 2rem;
  text-align: center;
}

.showcase-content p {
  color: #fff;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.25;
  margin: 0 0 2rem;
}
.showcase-content h3 {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.box {
  padding-top: 10px;
}
.box input[type="text"] {
  padding: 10px 10px 0;
  width: 450px;
  height: 60px;
  outline: none;
}
.box input[type="submit"] {
  background: #e50914;
  height: 60px;
  color: #fff;
  font-size: 26px;
  padding: 0 26px;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 10px 0;
}
.box input[type="submit"]:hover {
  background: #f50713;
}
.container-one,
.container-two {
  width: 100%;
  position: relative;
}
.container-one .contents,
.container-two .contents {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  margin: 0;
  align-items: center;
  padding: 40px 45px;
  justify-content: space-between;
}
.container-one .contents .text,
.container-two .contents .text {
  width: 52%;
  height: 100%;
  flex: 0 1 auto;
  padding: 0 3rem 0 0;
  z-index: 3;
}
.container-one .contents .text h1,
.container-two .contents .text h1 {
  font-size: 50px;
}
.container-one .contents .text p,
.container-two .contents .text p {
  font-size: 26px;
}
.container-one .contents .image,
.container-two .contents .image {
  position: relative;
  z-index: 2;
}
.container-one .contents .image img,
.container-two .contents .image img {
  max-width: 100%;
  height: auto;
  border: 0;
}
.q {
  font-size: 50px;
  text-align: center;
}
.collapes {
  position: relative;
  padding: 50px 25%;
  width: 100%;
}
.collapsible {
  background-color: rgb(37, 37, 37);
  color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 26px;
}
.collapsible:after {
  content: "\002B";
  color: #fff;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}
.collapsecontent {
  padding: 0 18px;
  max-height: 0;
  font-size: 26px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: rgb(37, 37, 37);
}
center {
  padding-bottom: 30px;
}
.footer {
  max-width: 70%;
  margin: 1rem auto;
  overflow: auto;
}

.footer,
.footer a {
  color: #999;
  font-size: 0.9rem;
}

.footer p {
  margin-bottom: 1.5rem;
}

.footer .footer-cols {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}

.footer li {
  line-height: 1.9;
}

.footer .lang-select {
  margin-top: 2rem;
  color: #999;
  background-color: #000;
  background-image: none;
  border: 1px solid #333;
  padding: 1rem 1.2rem;
  border-radius: 5px;
}

.btn {
  display: inline-block;
  background: #e50914;
  color: #fff;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  text-align: center;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
  border-radius: 2px;
}

.btn:hover {
  opacity: 0.9;
}

.btn-rounded {
  border-radius: 5px;
  padding: 7px 17px;
  font-size: 1rem;
}

.btn-icon {
  margin-left: 1rem;
}
.center {
  text-align: center;
}
@media (max-width: 1122px) {
  .showcase-content {
    padding: 0;
  }
  .collapes {
    padding: 50px 15%;
  }
  .popup {
    top: 55%;
  }
  .popcontentbx {
    width: 650px;
    height: 400px;
  }
  .popcontentbx .popcontent {
    top: 10%;
  }
}
@media (max-width: 960px) {
  .showcase-top img {
    top: 30%;
    left: 5%;
    transform: translate(0);
  }

  .showcase-content h1 {
    font-size: 3.7rem;
    line-height: 1;
  }

  .showcase-content p {
    font-size: 1.5rem;
  }

  .footer .footer-cols {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 875px) {
  .container-one .contents {
    display: flex;
    max-width: 100%;
    flex-direction: column;
    padding: 40px 0;
    text-align: center;
  }
  .container-two .contents {
    display: flex;
    max-width: 100%;
    flex-direction: column-reverse;
    padding: 40px 0;
    text-align: center;
  }
  .container-one .contents .text,
  .container-two .contents .text {
    padding: 0;
  }
  .container-one .contents .text h1,
  .container-two .contents .text h1 {
    width: 100%;
  }
  .container-one .contents .text p,
  .container-two .contents .text p {
    width: 100%;
  }
}
@media (max-width: 700px) {
  .showcase::after {
    background: rgba(0, 0, 0, 0.6);
    box-shadow: inset 80px 80px 150px #000000, inset -80px -80px 150px #000000;
  }

  .showcase-content h1 {
    font-size: 2.5rem;
    line-height: 1;
  }

  .showcase-content p {
    font-size: 1rem;
  }
  .popup {
    top: 55%;
  }
  .popcontentbx {
    width: 500px;
    height: 460px;
  }
  .popcontentbx .popcontent {
    top: 10%;
  }
}
@media (max-width: 600px) {
  .container-one .contents .text h1,
  .container-two .contents .text h1 {
    font-size: 30px;
  }
  .container-one .contents .text p,
  .container-two .contents .text p {
    font-size: 20px;
  }
  .box input[type="text"] {
    padding: 10px 10px 0;
    width: 300px;
  }
  .popup {
    top: 50%;
  }
  .popcontentbx {
    width: 380px;
    height: 500px;
  }
  .popcontentbx .popcontent {
    top: 20%;
  }
  .popcontentbx .popcontent h1 {
    font-size: 3em;
  }
  .popcontentbx .popcontent h3 {
    font-size: 1em;
  }
  .collapes {
    padding: 50px 10%;
  }
  .collapsible {
    font-size: 21px;
  }
}
@media (max-width: 417px) {
  .popup {
    top: 50%;
  }
  .popcontentbx {
    width: 360px;
    height: 520px;
  }
  .popcontentbx .popcontent {
    top: 10%;
  }
  .popcontentbx .popcontent h1 {
    font-size: 2em;
  }
  .popcontentbx .popcontent h3 {
    font-size: 1em;
  }
}
@media (max-width: 412px) {
  .container-one .contents,
  .container-two .contents {
    padding-top: 40px;
    padding-bottom: 0;
    margin-top: 0;
  }
  .box input[type="text"] {
    height: 30px;
  }
  .box input[type="submit"] {
    height: 30px;
    font-size: 15px;
  }
  .popcontentbx {
    width: 320px;
    height: 520px;
  }
  .showcase-top img {
    width: 88px;
    position: absolute;
    top: 0;
    left: 5%;
    margin-left: 0;
  }

  .showcase-top a {
    position: absolute;
    top: 10%;
    margin: 0;
    right: 0;
  }
  .q {
    padding-top: 30px;
  }
  .collapes {
    padding: 50px 5%;
  }
  .collapsible {
    font-size: 20px;
  }
}
@media (max-width: 325px) {
  .popup {
    top: 50%;
  }
  .popcontentbx {
    width: 310px;
    height: 600px;
  }
  .popcontentbx .popcontent {
    top: 20%;
  }
}
@media (max-height: 600px) {
  .showcase-content {
    margin-top: 3rem;
  }
}
